.site { 
    display: flex;
    justify-content: center;

}

.pad { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(251, 65, 3);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    border-radius: 5%;
}

.buttons { 
    display: flex;
}


.board { 
    width: 800px; 
    height: 600px;
    display: grid;

}

